<footer class="main-footer">
    <div class="auto-container">

        <div class="widgets-section">
            <div class="row clearfix">


                <div class="column col-md-5 col-sm-6 col-xs-12">
                    <div class="footer-widget logo-widget">
                        <div class="logo">
                            <a href=""><img src="public/images/sps.png" alt=""></a>
                        </div>
                        <div class="widget-content">
                            <div class="text">Office No.11, Building 672, Way 5005,<br>
                                Ghala, Muscat,  Sultanate of Oman</div>
                            <ul class="list">
                                <li> (9714) 259 3456</li>
                                <li>sales@spsoman.com</li>
                            </ul>
                            <div class="timing">
                                <span>Visit Our Office:</span>
                                Sunday to Thursday – 8.30 am to 5.30 pm<br>
                                Saturday  - 9.00 am to 1.00 pm
                            </div>
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="column col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <div class="footer-title">
                            <h2>Usefull Links</h2>
                        </div>
                        <div class="row clearfix">
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <ul class="links">
                                    <li><a href="<%= app_url %>/">Home</a></li>
                                    <li><a href="<%= app_url %>/about-us">About Us</a></li>
                                    <li><a href="<%= app_url %>/products">Products</a></li>
                                </ul>
                            </div>
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                                <ul class="links">
                                    <li><a href="<%= app_url %>/services">Services</a></li>
                                    <li><a href="<%= app_url %>/#request">Request for Quote</a></li>
                                    <li><a href="<%= app_url %>/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget material-widget">
                        <div class="footer-title">
                            <h2>Certification</h2>
                        </div>
                        <ul class="list-style-two">
                            <li><img class="icon" src="public/images/icon.jpg" style=" height: 85px;"></li>
                            <li><img class="icon" src="public/images/icon-1.jpg" style=" height: 85px;"></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom style-two">
        <div class="auto-container">
            <div class="copyright">
                © 2018 | All Rights Reserved.<a href=""> SPS Oman</a>
            </div>
        </div>
    </div>
</footer>
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<script src="public/js/jquery.js"></script>
<!--Revolution Slider-->
<script src="public/js/jquery.themepunch.revolution.min.js"></script>
<script src="public/js/jquery.themepunch.tools.min.js"></script>
<script src="public/js/revolution.extension.actions.min.js"></script>
<script src="public/js/revolution.extension.carousel.min.js"></script>
<script src="public/js/revolution.extension.kenburn.min.js"></script>
<script src="public/js/revolution.extension.layeranimation.min.js"></script>
<script src="public/js/revolution.extension.migration.min.js"></script>
<script src="public/js/revolution.extension.navigation.min.js"></script>
<script src="public/js/revolution.extension.parallax.min.js"></script>
<script src="public/js/revolution.extension.slideanims.min.js"></script>
<script src="public/js/revolution.extension.video.min.js"></script>
<script src="public/js/main-slider-script.js"></script>

<script src="public/js/bootstrap.min.js"></script>
<script src="public/js/jquery.fancybox.js"></script>
<script src="public/js/jquery-ui.js"></script>
<script src="public/js/owl.js"></script>
<script src="public/js/mixitup.js"></script>
<script src="public/js/wow.js"></script>
<script src="public/js/appear.js"></script>
<script src="public/js/script.js"></script>
<script src="public/js/toastr.js"></script>
<script>
    /****************** Toast   ***********************/
    var succ = '';
    if (succ != "") {
        toastr.success(succ, {timeOut: 700, preventDuplicates: true, positionClass: 'toast-top-right'});
    }

    var err = '';
    if (err != "") {
        toastr.error(err, {timeOut: 700, preventDuplicates: true, positionClass: 'toast-top-right'});
    }
</script>




</body></html>