<!DOCTYPE html><html><head>
    <meta charset="utf-8">
    <title>sps oman - Drilling Contractors, Oil Companies &amp; Engineering Divisions</title>
    <!-- Stylesheets -->
    <link href="public/css/bootstrap.css" rel="stylesheet">
    <link href="public/css/settings.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION SETTINGS STYLES -->
    <link href="public/css/layers.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION LAYERS STYLES -->
    <link href="public/css/navigation.css" rel="stylesheet" type="text/css">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link href="public/css/style.css" rel="stylesheet">
    <link href="public/css/responsive.css" rel="stylesheet">
    <!--<link href="css/color.css" rel="stylesheet">-->

    <link rel="shortcut icon" href="public/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="public/images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="public/js/html5shiv.js"></script>
    <script src="public/js/respond.js"></script>
    <link href="public/css/toastr.css" rel="stylesheet">
    <script src="public/js/jquery.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
</head>


<body>
<div class="page-wrapper">
<header class="main-header header-style-three">

    <!-- Header Lower Two -->
    <div class="header-lower-two">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo" style="padding: 10px;">
                        <a href="">
                            <img src="public/images/sps.png" alt="" style="height: 150px;">
                        </a>
                    </div>
                </div>

                <!--Nav Outer-->
                <div class="nav-outer clearfix">

                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current" id="home"><a href="/">Home</a></li>
                                <li id="aboutUS"><a href="<%= app_url %>/about-us">About us</a></li>
                                <li id="products"><a href="<%= app_url %>/products">Products</a></li>
                                <li id="services"><a href="<%= app_url %>/services">Services</a></li>
                                <li id="contact"><a href="<%= app_url %>/contact-us">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!--Outer Box-->
                    <div class="outer-box">
                        <a href="/#request" class="theme-btn quote-btn">Request for
                            Quote <span class="icon icon"></span></a>
                        <!--Search Box-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container">

            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box pull-left">
                    <div class="logo">
                        <a href="">
                            <img src="public/images/sps.png" style="height:60px;">
                        </a>
                    </div>
                </div>

                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current" id="home"><a href="/">Home</a></li>
                                <li id="aboutUS"><a href="<%= app_url %>/about-us">About us</a></li>
                                <li id="products"><a href="<%= app_url %>/products">Products</a></li>
                                <li id="services"><a href="<%= app_url %>/services">Services</a></li>
                                <li id="contact"><a href="<%= app_url %>/contact-us">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                </div>
                <!--Nav Outer End-->

            </div>

        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->
<script>
    console.log(window.location.href)
    let baseUrl = window.location.href
    let url = baseUrl.split('/')[3]
    if(url == "about-us"){
        $('.current').removeClass('current');
        $("#aboutUS").addClass('current');
    } else if (url == 'products'){
        $('.current').removeClass('current');
        $("#products").addClass('current');
    } else if (url == "services") {
        $('.current').removeClass('current');
        $("#services").addClass('current');
    } else if ( url == "contact-us"){
        $('.current').removeClass('current');
        $("#contact").addClass('current');  
    }
</script>